upstream maketext_api {
  server 127.0.0.1:9101;
}

server {
  listen 443 ssl http2;
  include /etc/nginx/mime.types;
  server_name maketext.io;
  proxy_pass_header Server;
  error_page 405 = $uri;
  client_max_body_size 20m;
  add_header X-Download-Options "noopen";
  add_header X-Content-Type-Options "nosniff";

  ssl on;
  ssl_certificate /etc/letsencrypt/live/maketext.io/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/maketext.io/privkey.pem;

  root /home/web/services/maketext/server/static/;

  location ~ ^/(d/.*)$ {
    root /home/web/services/maketext/server/static/;
    try_files $uri @nodeserver;
  }

  location @nodeserver {
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_set_header X-NginX-Proxy true;
    proxy_pass http://maketext_api;
    proxy_redirect off;
  }
}

server {
  listen 80;
  server_name maketext.io;
  add_header Strict-Transport-Security "max-age=16070400; includeSubDomains";
  rewrite     ^   https://$server_name$request_uri? permanent;
}
