//- module
#nav-top
  nav.navbar.navbar-expand-lg.navbar-dark.text-light.bg-dark
    a.navbar-brand(href="/") HOME
    button.navbar-toggler(type="button",data-toggle="collapse",data-target="#navbar-supported-content")
      span.navbar-toggler-icon
    .collapse.navbar-collapse#navbar-supported-content
      ul.navbar-nav.mr-auto
        li.nav-item: a.nav-link(href="#") Sample
